/configure
/config.status
/config.sub
/config.guess
/config.log
/ltmain.sh
/libtool
/install-sh
/missing
/aclocal.m4
/autom4te.cache
/depcomp
Makefile
Makefile.in
.deps
.libs
*.la
*.lo
*.o
.dirstamp
/examples/archive/info/archive_mxf_info
/examples/archive/test/compare_d3_mxf
/examples/archive/test/double_clapperboard
/examples/archive/test_timecode_index
/examples/archive/write/test_write_archive_mxf
/examples/archive/write/update_archive_mxf
/examples/avidmxfinfo/avidmxfinfo
/examples/reader/test_mxf_reader
/examples/writeaviddv50/writeaviddv50
/examples/writeavidmxf/writeavidmxf
/test/test_lib/test_datamodel
/test/test_lib/test_essencecontainer
/test/test_lib/test_file
/test/test_lib/test_headermetadata
/test/test_lib/test_indextable
/test/test_lib/test_partition
/test/test_lib/test_primer
/test/test_utils/test_mxf_page_file
/tools/extract_avid_extensions/extract_avid_extensions
