/configure
/config.status
/config.sub
/config.guess
/config.log
/ltmain.sh
/libtool
/install-sh
/missing
/aclocal.m4
/autom4te.cache
/depcomp
Makefile
Makefile.in
.deps
.libs
*.la
*.lo
*.o
.dirstamp

